<!-- Sản phẩm nổi bật -->
<section class="products container mt-5">
    <h1 class="main_title">SẢN PHẨM ĐANG HOT <i class="fa fa-fire" style="color: red;"></i></h1>
    <div class="owl-carousel owl-theme mt-3">
        <div class="item">
            <div class="item__content">
                <img src="~/app/img/Giay/dep1.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                    <a></a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Jordan NOLA </a>
                <span> 1,169,000₫ </span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/Giay/dep2.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Nike Air Max 90 </a>
                <span>2,189,000₫</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/Giay/jordan1.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Jordan MA2</a>
                <span>3,669,000₫</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/Giay/jordan2.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Jordan MA2 Paris </a>
                <span>3,669,000₫</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/Giay/jordan3.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Air Jordan 1 High OG</a>
                <span>4,699,000₫</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/Giay/nike1.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Nike Air Max 96 2 SE</a>
                <span>4,999,000₫</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/Giay/nike2.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Nike Retro GTS</a>
                <span>1,909,000₫</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/Giay/nike3.jpg" alt="">
                <div class="item__content__hover">
                    <a href="" class="detail btn-detail"><i class="fa fa-eye"></i>Xem chi tiết</a>
                </div>
            </div>
            <div class="item__details">
                <a href="/">Nike Air VaporMax 2021 FK</a>
                <span>5,869,000₫</span>
            </div>
            </div>
</section>
